/*
CORES: 
#2EC8D9 //Azul clarinho
#143A40 //Azul Escuro
#F2AA1B //Amarelado
#F0516F //Rosado

*/

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #2EC8D9;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #143A40;
}

form {
    background-color: #F2AA1B;
    min-height: 150px;
    min-width: 200px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 3px 3px 7px #143A40;
}

form div {
    padding-bottom: 10px;
}

h1 {
    padding-bottom: 10px;
    text-transform: uppercase;
}

form label {
    font-size: 20px;
}

form input {
    border: none;
    border-bottom: 1px solid #143A40;
    color: #143A40;
    padding: 5px;
    background-color: transparent;
}

form input::placeholder{
    color: #143A40;
}

form input:focus{
    outline: none;
}

form input:focus::placeholder{
    color: transparent;
}
.buttons {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons button{
    width: -webkit-fill-available;
    background-color: white;
    border: none;
    padding: 7px;
    color: #143A40;
}

.buttons button:hover {
    background-color:#ebebeb;
    text-transform: uppercase;
}

.inputSenha button{
    background-color: transparent;
    border: none;
    text-align: right;
    color: white;
}

.inputSenha button[disabled] {
    opacity: 0.7;
}

#login-button[disabled]{
    opacity: 0.7;
}

#register-button[disabled]{
    opacity: 0.7;
}

.error {
    color: white;
    background-color: #F0516F;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
    display: none;
}

.loading {
    background-color: rgb(197, 195, 195, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: #143A40;
    text-transform: uppercase;
}